{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container bg-green">
    <div class="row margin-signin">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Sign In" %}</h3>
            <p>
                {% blocktrans %}
                Welcome to the login page for ToTheList, sign in to manage your list and items.<br> Don't have
                an account? Then <a class="link signup-margin" href="{{ signup_url }}"
                    style="text-decoration: underline;">sign
                    up</a> first.
                {% endblocktrans %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-group" style="margin-bottom: 20px;">
                    <button class="btn btn-signin homepage-buttons" type="submit">{% trans "Sign In" %}</button>
                </div>
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}