{% extends 'base.html' %}

{% block title %}
Clone Confirmation
{% endblock %}

{% block content %}
<!--Added "bg-green and homepage-buttons" as separate styling for background colour, other styling classes are from bootstrap"-->
<div class="text-center bg-green mt-3 p-4">
    <p style="font-weight: bold">List "{{ shopping_list.name }}" has been cloned successfully with the new name
        "{{ new_name }}".</p>
    <a href="{% url 'show_shopping_lists' %}" class="btn btn-primary homepage-buttons">Close</a>
</div>
</body>
{% endblock %}