{% extends 'base.html' %}
{% block landing_page_image %}
{% endblock landing_page_image %}

{% block title %}
Create List
{% endblock %}

{% block content %}
<!--Added "bg-green, margin-createbutton and " as separate styling for background colour, other styling classes are from bootstrap"-->
<div class="text-center bg-green">
    <p style="font-weight: bold">Create a New Shopping List</p>

<!--The below code is written to give direct feedback to user when a list is created"-->
    {% if messages %}
    <ul>
        {% for message in messages %}
        {% if message.tags == 'success' %}
        <li>{{ message }}</li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}

<!--Code for sending the form"-->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="margin-createbutton btn btn-primary homepage-buttons">Create</button>
    </form>
</div>
{% endblock %}