{% extends 'base.html' %}

{% block landing_page_image %}
<!-- Empty block to override the landing page image -->
{% endblock landing_page_image %}

{% block title %}
Duplicate Item Confirmation
{% endblock %}

{% block content %}
<!--Added "bg-green", other styling classes are from bootstrap"-->
<div class="text-center bg-green mt-3 p-4">
    <p style="font-weight: bold">The item "{{ item.name }}" has been duplicated successfully with the new name
        "{{ new_name }}".</p>
    <a href="{% url 'show_shopping_lists' %}" class="btn btn-warning">Close</a>
</div>

{% endblock %}