{% extends 'base.html' %}

{% block landing_page_image %}
<!-- Empty block to override the landing page image -->
{% endblock landing_page_image %}

{% block title %}
Edit Item
{% endblock %}

{% block content %}
    {% if item.created_by == request.user %}
        <!-- Display buttons for the item creator -->
        <form method="post" action="{% url 'duplicate_item' item_id=item.id %}">
            {% csrf_token %}
            <button type="submit">Duplicate Item</button>
        </form>

        <form method="post" action="{% url 'rename_item' item_id=item.id %}">
            {% csrf_token %}
            <button type="submit">Rename Item</button>
        </form>

        <form method="post" action="{% url 'delete_item' item_id=item.id %}"
            onsubmit="return confirmDelete('{{ item.name }}')">
            {% csrf_token %}
            <button type="submit">Delete Item</button>
        </form>
    {% else %}
        <!-- Display button for non-creators -->
        <form method="post" action="{% url 'duplicate_item' item_id=item.id %}">
            {% csrf_token %}
            <button type="submit">Duplicate Item</button>
        </form>
    {% endif %}
    <script>
        function confirmDelete(listName) {
            return confirm(`Are you sure you want to delete the list "${listName}"?`);
        }

        function confirmCloneItem() {
            return confirm("Are you sure you want to clone this item?");
        }
    </script>
{% endblock %}