{% extends 'base.html' %}

{% block landing_page_image %}
<!-- Empty block to override the landing page image -->
{% endblock landing_page_image %}

{% block title %}
Edit Item
{% endblock %}

{% block content %}
{% if item.created_by == request.user %}

<div class="text-center bg-green mt-3 p-4">
    <!-- Message at the top -->
    <div class="mb-4">
        <h3>Select an option for your item "{{ item.name }}"</h3>
    </div>

    <form method="post" action="{% url 'duplicate_item' item_id=item.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-warning mb-3">Duplicate Item</button>
    </form>

    <form method="post" action="{% url 'rename_item' item_id=item.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-warning mb-3">Rename Item</button>
    </form>

    <form method="post" action="{% url 'delete_item' item_id=item.id %}"
        onsubmit="return confirmDelete('{{ item.name }}')">
        {% csrf_token %}
        <button type="submit" class="btn btn-warning">Delete Item</button>
    </form>

    {% else %}
    <!-- Display button for non-creators -->
    <form method="post" action="{% url 'duplicate_item' item_id=item.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-warning mb-3">Duplicate Item</button>
    </form>
</div>
{% endif %}
<!--The delete confirmation is displayed instantly, hence the listname is displayed onclick from the edit page. 
For users not owning an item, the only choice is cloning, therefore the clone item is added in this page as well.-->
<script>
    function confirmDelete(listName) {
        return confirm(`Are you sure you want to delete the list "${listName}"?`);
    }

    function confirmCloneItem() {
        return confirm("Are you sure you want to clone this item?");
    }
</script>
{% endblock %}
