{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row transparent-navbar">

    <!-- Navigation -->
    <nav class="navbar-expand-lg transparent-navbar">
        <div class="container-fluid">
            <!-- Custom navbar toggler button with text -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText2"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                List & Items +
            </button>

            <div class="collapse navbar-collapse homepage-buttons-container" id="navbarText2">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="btn btn-primary homepage-buttons" href="{% url 'create_shopping_list' %}">
                            Add List
                        </a>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a class="btn btn-primary homepage-buttons" href="{% url 'show_shopping_lists' %}">
                            My lists
                        </a>
                    </li>
                    -->
                </ul>
            </div>
        </div>
    </nav>

    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

    <!-- Div with text content -->
    <div class="col-12 text-center mt-5">
        <h1 class="display-4">One Place for Effortless List Organization</h1>
        <p class="lead">Stay organized with our easy-to-use lists and items management system. Simplify your life, one list at a time.</p>
    </div>

</div>
<!-- index.html content ends here -->
{% endblock %}

