{% extends 'base.html' %}

{% block landing_page_image %}
<!-- Empty block to override the landing page image -->
{% endblock landing_page_image %}

{% block title %}
Rename Item
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Rename "{{ item.name }}"</title>
    <style>
        .disabled {
            pointer-events: none;
            opacity: 0.5;
        }
    </style>
</head>

<body>
    {% if not_authorized_message %}
    <p>{{ not_authorized_message }}</p>
    {% else %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 bg-green mt-3 p-4">
                <p style="font-weight: bold;">Rename "{{ item.name }}"</p>
                <form id="renameForm" method="post" onsubmit="return confirmRename()">
                    {% csrf_token %}
                    <label for="new_name">New Name:</label>
                    <input type="text" id="new_name" name="new_name" required>
                    <button id="renameItem" class="btn btn-warning mt-3" type="submit">Rename Item</button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
    <script>
        // Function to display confirmation dialog with a message before renaming
        function confirmRename() {
            var newName = document.getElementById('new_name').value;
            var message = "Are you sure you want to rename '{{ item.name }}' to '" + newName + "'?";
            var confirmed = confirm(message);
            return confirmed;
        }
    </script>
</body>

</html>
{% endblock %}