{% extends 'base.html' %}

{% block landing_page_image %}
<!-- Empty block to override the landing page image -->
{% endblock landing_page_image %}

{% block title %}
Edit
{% endblock %}

{% block content %}
<!--Added "bg-green, homepage-buttons and margin-rename" as separate styling for background 
    colour and button styling, other styling classes are from bootstrap"-->
<div class="text-center p-4 mt-3 bg-green">
    <p style="font-weight: bold"> List "{{ old_name }}" has been renamed successfully.</p>
    <p>New name: "{{ new_name }}"</p>
    <a href="{% url 'show_shopping_lists' %}" class="btn btn-primary homepage-buttons margin-rename">Close</a>
</div>
{% endblock %}