{% extends 'base.html' %}

{% block landing_page_image %}
<!-- Empty block to override the landing page image -->
{% endblock landing_page_image %}

{% block title %}
Edit
{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Rename "{{ shopping_list.name }}"</title>
    <style>
        .disabled {
            pointer-events: none;
            opacity: 0.5;
        }
    </style>
</head>

<body>
    {% if not_authorized_message %}
    <p>{{ not_authorized_message }}</p>
    {% else %}
    <div class="text-center p-4 mt-3 bg-green">
        <p style="font-weight: bold">Rename "{{ shopping_list.name }}"</p>
        <form id="renameForm" method="post" onsubmit="return confirmRename()">
            {% csrf_token %}
            <label for="new_name">New Name:</label>
            <input type="text" id="new_name" name="new_name" required>
            <button id="renameButton" class="btn btn-primary homepage-buttons mt-3" type="submit" class="{% if not is_owner %}disabled{% endif %}">Rename
                List</button>
        </form>
    </div>
    {% endif %}

    <script>
        // Function to display confirmation dialog before renaming
        function confirmRename() {
            var newName = document.getElementById('new_name').value;
            var confirmed = confirm("Rename list '{{ shopping_list.name }}' to '" + newName + "'?");
            return confirmed;
        }

        // Check if the current user is the owner of the list
        const isOwner = "{{ is_owner }}";

        if (isOwner === "False") {
            // If the user is not the owner, disable the rename button and show info message
            const renameButton = document.getElementById('renameButton');
            renameButton.classList.add('disabled');

            const infoIcon = document.getElementById('infoIcon');
            infoIcon.style.cursor = 'pointer';
            infoIcon.addEventListener('click', () => {
                const infoMessage = document.getElementById('infoMessage');
                infoMessage.style.display = 'block';
            });
        }
    </script>
</body>

</html>
{% endblock %}