{% extends 'base.html' %}

{% block landing_page_image %}
<!-- Empty block to override the landing page image -->
{% endblock landing_page_image %}

{% block title %}
<title>My Lists</title>
{% endblock %}

{% block content %}
<div class="container bg-green" id="content">
    <div class="row">
        <div class="col d-flex align-items-center justify-content-between">
            <span class="custom-container list-title">My Lists</span>
            <nav aria-label="My Lists pagination">
                <ul class="pagination justify-content-center mb-0">
                    {% if my_lists_page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page_my_lists={{ my_lists_page_obj.previous_page_number }}">Previous</a>
                    </li>
                    {% endif %}
                    {% for num in my_lists_page_obj.paginator.page_range %}
                    <li class="page-item {% if num == my_lists_page_obj.number %}active{% endif %}">
                        <a class="page-link" href="?page_my_lists={{ num }}">{{ num }}</a>
                    </li>
                    {% endfor %}
                    {% if my_lists_page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page_my_lists={{ my_lists_page_obj.next_page_number }}">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            <a class="btn btn-primary btn-sm" href="{% url 'create_shopping_list' %}">
                Add List
            </a>
        </div>
    </div>
    <!-- My Lists -->
    <div class="row">
        {% for shopping_list, username, done_count in my_lists_with_usernames %}
        <div class="col-lg-6 col-xl-4 mb-4">
            <div class="card">
                <div class="card-body position-relative">
                    <h5 class="card-title">
                        <a href="javascript:void(0)" onclick="toggleItems('{{ shopping_list.id }}')">{{ shopping_list.name }}</a>
                    </h5>
                    <div class="position-absolute top-0 end-0 mt-3 me-3">
                        <span>View Items</span>
                        <button class="btn btn-link p-0" onclick="toggleItems('{{ shopping_list.id }}')" aria-label="Toggle items">
                            <i class="fas fa-chevron-down fa-2x"></i>
                        </button>
                    </div>
                    <p class="card-text">Created by: {{ username }}</p>
                    <p class="card-text">Clone Count: {{ shopping_list.clone_count }}</p>
                    <p class="card-text" id="done-count-{{ shopping_list.id }}" data-done-count="{{ done_count }}" data-total-count="{{ shopping_list.items.count }}">
                    Items: {{ shopping_list.items.count }}
                    </p>
                    <div class="d-flex justify-content-between">
                        <div class="toggle-container">
                            <input type="checkbox" class="toggle-slider" id="toggle-{{ shopping_list.id }}" data-list-id="{{ shopping_list.id }}" {% if shopping_list.is_private %}checked{% endif %}>
                            <label for="toggle-{{ shopping_list.id }}" class="toggle-shape">
                                <span class="label-public">Public</span>
                                <span class="label-private">Private</span>
                            </label>
                        </div>
                        <div>
                            {% if shopping_list.owner == request.user %}
                                <a href="{% url 'edit' shopping_list.id %}" class="btn btn-primary homepage-buttons mt-4 mb-0">Edit</a>
                            {% else %}
                                {% if shopping_list.id %}
                                <a href="{% url 'clone' shopping_list.id %}" class="btn btn-primary homepage-buttons mt-4 mb-0">Clone</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        <div id="items_{{ shopping_list.id }}" class="items-section" style="display: none;">
            <div class="item-list" style="max-height: 200px; overflow-y: auto;">
                <ul>
                    {% for item in shopping_list.items.all %}
                    <li>
                        <div class="card mb-1 mt-1">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col">
                                        <h6 class="card-title">{{ forloop.counter }}. {{ item.name }}</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p class="card-text quantity quantity-container">({{ item.quantity }})</p>
                                    </div>
                                    <div class="col-auto ml-auto">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="item_{{ item.id }}" name="item_{{ item.id }}" {% if item.is_done %}checked{% endif %} data-list-id="{{ shopping_list.id }}" {% if shopping_list.owner != request.user %}disabled{% endif %}>
                                            <label class="form-check-label" for="item_{{ item.id }}">Done</label>
                                        </div>
                                    </div>
                                    <div class="col-auto ms-auto mb-2">
                                        {% if logged_in_user == item.created_by %}
                                        <a href="{% url 'edit_item' item_id=item.id %}" class="btn btn-warning btn-sm mt-0">Edit</a>
                                        {% else %}
                                        <a href="{% url 'duplicate_item' item_id=item.id %}" class="btn btn-warning btn-sm mt-0">Duplicate</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div><!-- My Lists -->
    <span class="custom-container list-title">Other Lists</span>
    <div class="row">
        {% for shopping_list, username, done_count in other_lists_with_usernames %}
        <div class="col-lg-6 col-xl-4 mb-4">
            <div class="card">
                <div class="card-body position-relative">
                    <h5 class="card-title">
                        <a href="javascript:void(0)" onclick="toggleItems('{{ shopping_list.id }}')">{{ shopping_list.name }}</a>
                    </h5>
                    <div class="position-absolute top-0 end-0 mt-3 me-3">
                        <span>View Items</span>
                        <button class="btn btn-link p-0" onclick="toggleItems('{{ shopping_list.id }}')" aria-label="Toggle items">
                            <i class="fas fa-chevron-down fa-2x"></i>
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <p class="card-text">Created by: {{ username }}</p>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <p class="card-text">Clone Count: {{ shopping_list.clone_count }}</p>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <p class="card-text">Items: {{ shopping_list.items.count }}</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mt-3">
                        <div>
                            <span id="status-text-{{ shopping_list.id }}" class="public-other">{% if shopping_list.is_private %}Private{% else %}Public{% endif %}</span>
                        </div>
                        <div>
                            {% if shopping_list.owner == request.user %}
                            <a href="{% url 'edit' shopping_list.id %}" class="btn btn-primary homepage-buttons">Edit</a>
                            {% else %}
                            {% if shopping_list.id %}
                            <a href="{% url 'clone' shopping_list.id %}" class="btn btn-primary homepage-buttons">Clone</a>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        <div id="items_{{ shopping_list.id }}" class="items-section" style="display: none;">
            <div class="item-list" style="max-height: 200px; overflow-y: auto;">
                <ul>
                    {% for item in shopping_list.items.all %}
                    <li>
                        <div class="card mb-1 mt-1">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col">
                                        <h6 class="card-title">{{ forloop.counter }}. {{ item.name }}</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p class="card-text quantity quantity-container">({{ item.quantity }})</p>
                                    </div>
                                    <div class="col-auto ml-auto">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="item_{{ item.id }}" name="item_{{ item.id }}" {% if item.is_done %}checked{% endif %} data-list-id="{{ shopping_list.id }}" {% if shopping_list.owner != request.user %}disabled{% endif %}>
                                            <label class="form-check-label" for="item_{{ item.id }}">Done</label>
                                        </div>
                                    </div>
                                    <div class="col-auto ms-auto mb-2">
                                        {% if logged_in_user == item.created_by %}
                                        <a href="{% url 'edit_item' item_id=item.id %}" class="btn btn-warning btn-sm mt-0">Edit</a>
                                        {% else %}
                                        <a href="{% url 'duplicate_item' item_id=item.id %}" class="btn btn-warning btn-sm mt-0">Duplicate</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div><!-- Other Lists -->

    <!-- Pagination for Other Lists -->
    <nav aria-label="Other Lists pagination">
        <ul class="pagination justify-content-center mt-4">
            {% if other_lists_page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page_other_lists={{ other_lists_page_obj.previous_page_number }}">Previous</a>
            </li>
            {% endif %}
            {% for num in other_lists_page_obj.paginator.page_range %}
            <li class="page-item {% if num == other_lists_page_obj.number %}active{% endif %}">
                <a class="page-link" href="?page_other_lists={{ num }}">{{ num }}</a>
            </li>
            {% endfor %}
            {% if other_lists_page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page_other_lists={{ other_lists_page_obj.next_page_number }}">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Initialize toggle sliders
        let toggleSliders = document.querySelectorAll('.toggle-slider');
        toggleSliders.forEach(function (slider) {
            let listId = slider.dataset.listId;
            console.log(`Slider for list ${listId} initialized.`);
            slider.value = slider.classList.contains('private') ? 1 : 0;
        });

        // Add event listener to each item checkbox
        let itemList = document.querySelectorAll('input[type="checkbox"]');
        itemList.forEach(function (checkbox) {
            let itemId = checkbox.id.split('_')[1]; // Extract item ID from checkbox ID
            let listId = checkbox.dataset.listId;

            checkbox.addEventListener('change', function () {
                console.log(`Checkbox for item ${itemId} in list ${listId} changed.`);
                toggleItemDone(itemId, listId);
            });
        });

        // Add event listener for browser navigation
        window.addEventListener('pageshow', function () {
            console.log('pageshow event fired');
            refreshDoneCounts();
            refreshPrivacyStatus();
        });
    });

    // Add event listener to toggle sliders
    document.addEventListener("change", function (event) {
        console.log('Change event triggered');
        if (event.target && event.target.classList.contains('toggle-slider')) {
            console.log('Toggle slider clicked');
            let listId = event.target.dataset.listId;
            toggleList(listId, event.target.value);

            let textElement = event.target.parentElement.querySelector('.status-text');
            if (textElement) {
                // Update the text based on the toggle status
                textElement.textContent = event.target.value === '1' ? 'Private' : 'Public';
            } else {
                console.error('Status text element not found.');
            }
        }
    });

    function toggleList(listId) {
        console.log('Toggling list with ID:', listId);

        // Log current done counts before toggling
        let doneCountElement = document.getElementById('done-count-' + listId);
        console.log(`Current done count before toggling: ${doneCountElement.textContent}`);

        // Fetch request to toggle the privacy status
        let csrftoken = getCookie('csrftoken');
        fetch(`/toggle-list-status/${listId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    // Toggle the color of the button
                    var slider = document.querySelector(`.toggle-slider[data-list-id="${listId}"]`);
                    slider.classList.toggle('public');
                    slider.classList.toggle('private');
                    refreshPrivacyStatus();
                    refreshDoneCount(listId); // Ensure done count is refreshed

                    // Log updated done counts after toggling
                    console.log(`Updated done count after toggling: ${doneCountElement.textContent}`);
                } else {
                    // Handle error
                    console.error('Error:', data.error);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            let cookies = document.cookie.split(';');
            for (let i = 0; cookies.length > i; i++) {
                let cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function toggleItems(listId) {
        let itemsSection = document.getElementById('items_' + listId);
        if (itemsSection.style.display === 'none') {
            itemsSection.style.display = 'block';
        } else {
            itemsSection.style.display = 'none';
        }
    }

    function refreshDoneCounts() {
        console.log('Refreshing done counts');
        let lists = document.querySelectorAll('.card');
        lists.forEach(function (list) {
            let listId = list.querySelector('.toggle-slider').dataset.listId;
            refreshDoneCount(listId);
        });
    }

    function refreshDoneCount(listId) {
        let doneCountElement = document.getElementById('done-count-' + listId);
        let doneCount = 0;
        let totalCount = 0; // Initialize totalCount to zero
        let checkboxes = document.querySelectorAll(`input[data-list-id="${listId}"]`);
        checkboxes.forEach(function (checkbox) {
            totalCount++; // Increment totalCount for each checkbox
            if (checkbox.checked) {
                doneCount++;
            }
        });

        // Log counts before updating the display
        console.log(`Total count for list ${listId}: ${totalCount}`);
        console.log(`Done count for list ${listId}: ${doneCount}`);

        // Update the displayed doneCount
        doneCountElement.textContent = `${totalCount - 1} Items`;
        console.log(`Done count for list ${listId} refreshed: ${totalCount - 1}`);
    }

    function toggleItemDone(itemId, listId) {
        console.log(`Toggling done status for item ${itemId} in list ${listId}`);
        let checkbox = document.getElementById(`item_${itemId}`);

        // Save the state to localStorage
        localStorage.setItem(`item_${itemId}`, checkbox.checked);

        // Send AJAX request to update "done" status
        let csrftoken = getCookie('csrftoken');
        fetch(`/toggle-item-done/${itemId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
            })
            .then(response => response.json())
            .then(data => {
                // Update UI based on response
                if (data.status === 'success') {
                    console.log(`Item status toggled successfully for item ${itemId}`);
                    refreshDoneCount(listId);
                } else {
                    // Handle error
                    console.error('Error:', data.error);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function refreshPrivacyStatus() {
        console.log('Refreshing privacy status');
        let lists = document.querySelectorAll('.card');
        lists.forEach(function (list) {
            let listId = list.querySelector('.toggle-slider').dataset.listId;
            let slider = list.querySelector(`.toggle-slider[data-list-id="${listId}"]`);
            let textElement = list.querySelector('.status-text');
            if (slider && textElement) {
                textElement.textContent = slider.classList.contains('private') ? 'Private' : 'Public';
            }
        });
    }

    function forceRefreshOnBack() {
        window.onunload = function () { };
        if (performance.navigation.type == 2) {
            location.reload(true);
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        forceRefreshOnBack();
        window.scrollTo(0, 0);
    });
</script>

{% endblock %}
