<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Items for {{ shopping_list.name }}</title>
    <!-- JavaScript function for confirmation message -->
    <script>
        function confirmClone() {
            var result = confirm("Clone this list? Yes/Cancel");
            if (result) {
                // If the user clicks "Yes", proceed with the clone action
                return true;
            } else {
                // If the user clicks "Cancel", do nothing
                return false;
            }
        }
    </script>

    <script>
        function confirmDelete(listName) {
            var result = confirm("Do you really want to delete " + listName + "?");
            if (result) {
                return true;
            } else {
                return false;
            }
        }
    </script>

    <script>
        function confirmRename(listName) {
            var result = confirm("Do you really want to rename this listeee?");
            if (result) {
                return true;
            } else {
                return false;
            }
        }
    </script>


</head>

<body>
    <!-- Display error message if the user is not authorized to rename -->
    {% if not_authorized_message %}
    <p>{{ not_authorized_message }}</p>
    {% else %}
    <h1>Rename "{{ shopping_list.name }}"</h1>
    <form id="renameForm" method="post" action="{% url 'rename' list_id=shopping_list.id %}">
        {% csrf_token %}
        <label for="new_name">New Name for:</label>
        <input type="text" id="new_name" name="new_name" required>
        <button id="renameButton" type="submit" onclick="return confirmRename('{{ shopping_list.name }}')">Rename List</button>
    </form>
    {% endif %}

    <h1>Items for {{ shopping_list.name }}</h1>

    <ul>
        {% for item in items %}
        <li>{{ item.name }} - Quantity: {{ item.quantity }}</li>
        {% endfor %}
    </ul>

    <a href="{% url 'add_item' list_id=shopping_list.id %}">Add Item</a>

    <!-- Clone List Button -->
    <form method="post" action="{% url 'clone' list_id=shopping_list.id %}">
        {% csrf_token %}
        <button type="submit" onclick="return confirmClone()">Clone List</button>
    </form>


    <!-- Delete button -->
    <form method="post" action="{% url 'delete' list_id=shopping_list.id %}"
        onsubmit="return confirmDelete('{{ shopping_list.name }}')">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>


</body>

</html>


<!-- Rename List Button
{% if is_owner %}
<form method="post" action="{% url 'rename' list_id=shopping_list.id %}">
    {% csrf_token %}
    <button type="submit" onclick="return confirmRename()">Rename List</button>
</form>
{% else %}
<button type="button" disabled>Rename List</button>
<p><i>Only the owner can rename this list.</i></p>
{% endif %}

-->