<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn</title>
</head>
<body>
    <h1>Welcome to the list</h1>
    <p>This page is designed to help you learn how to use our list management system effectively. Explore the features and functionalities to get 
        started with organizing your tasks efficiently. As user you will be able to create, copy, edit and share lists and items. It it also possible for other users to add items to shared lists.</p>
    <h2>How To</h2>
    <h3>Lists</h3>
    <p>1. Create a list by using the "Add item" on the landing page</p>
    <h3>Items</h3>

    </body>
</html>