body {
    background-color: green;
    color: black;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    font-style: italic;
    color: yellow;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: yellow;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

.bg-green {
    background-color:  #0e920e;
}
/*'#F9FAFC;'*/
.custom-landingpage {
    max-width: 200px;
    height: auto;
}

.mobile-edit-button {
    display: none; /* Hide by default */
}

.nav-link {
    color:#fff;
}

.ul li {
    list-style-type: none;
}

.margin {
    margin-top:10px;
}

@media only screen and (max-width: 992px) {
    .edit-button {
        display: none; /* Hide edit button on small screens */
    }
    
    .mobile-edit-button {
        display: block; /* Show mobile edit button on small screens */
    }
    
    .options {
        display: none; /* Hide options menu by default */
    }
    .navbar-toggler {
        background-color: yellow; /* Change background color */
        color: black; /* Change text color */
        border: black; /* Remove border */
        margin-bottom: 20px;
    }
    .navbar {
        display: white;
    }

    a {
        color: white !important;
    }
    .custom-container {
        margin-bottom: 20px; /* Set the color to red */
    }
}

