body {
    background-color: green;
    color: black;
    margin: 0;
    padding-top: 0;
}

#loadingOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loadingOverlay .spinner-border {
    width: 3rem;
    height: 3rem;
}

#loadingOverlay.show {
    display: flex;
}

.index-background {
    background-image: url('../images/land_page_tlmin.png');
    background-size: 1000px auto;
    background-repeat: no-repeat;
    background-position: center; /* This is to keep the background color same as before */
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    font-style: italic;
    color: yellow;
    text-decoration: underline;
    
}

card {
    transition: all 0.1s ease-in-out;
}

/* Make links look like buttons */
.view-items-link {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    text-decoration: none;
}

.view-items-link:hover {
    background-color: #31b0d5;
    border-color: #269abc;
    text-decoration: none;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: white;
}

.card {
    border: 1px solid black;
    background-color: whitesmoke;
}

.card-title a {
    margin-left: 0px;
}

.image-container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    max-width: 100%;

}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
    margin-top: 0;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
    margin: 20px 0 20px 150px;
}

.btn-signout,
.btn-edit {
    background-color: #d83f11;
    color: #fff;
    margin: 0 0 20px 0;
}

.btn-signin {
    background-color: #188181;
    color: #fff;
    margin-left: 110px;
}

.signup-margin {
    margin: 0;
    text-decoration: underline;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.margin-but-left {
    margin-left: 10px;
}

.link {
    color: blue;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

.password-label {
    padding-right: 5px;
    /* Adjust the margin value as needed */
    margin: 10px 0 20px 0;
}

.bg-green {
    background-color: #b2dcaf;
}

/*'#F9FAFC;'*/
.custom-landingpage {
    max-width: 200px;
    height: auto;
    margin: 30px 0 30px 120px;
}

.mobile-edit-button {
    display: none;
    /* Hide by default */
}

.nav-link {
    color: #fff;
}

.navbar-nav .nav-link.active {
    text-decoration: underline;
}

.nav-link.active {
    text-decoration: underline;
}

.nav-link:hover {
    font-weight: bold;
    opacity: 1;
    color: red;
}

.ul li {
    list-style-type: none;
}

.homepage-buttons {
    background-color: #d83f11;
    border: 2px;
}

a {
    color: black;
    margin: 20px 0 20px 30px;
}

.custom-container {
    margin-bottom: 20px;
    margin-left: 20px;
    padding-top: 10px;
    /* Set the color to red */
}

.listitems-header {
    color: aqua;
}

.list-container {
    display: flex;
    align-items: center;
}

/* Updated toggle switch styles */
.toggle-container {
    position: relative;
    display: inline-block;
    width: 120px; /* Adjust width as needed */
    height: 34px;
}

.toggle-slider {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-shape {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
    height: 34px;
    width: 100%; /* Use full width of the container */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px; /* Adjust padding as needed */
    box-sizing: border-box;
}

.toggle-slider:checked + .toggle-shape {
    background-color: #2196F3;
    position: right;
}

.label-public, .label-private {
    width: 50%;
    text-align: center;
    font-size: 14px; /* Adjust font size as needed */
    color: white; /* Adjust text color as needed */
}

.toggle-slider:checked + .toggle-shape .label-public {
    color: white;
}

.toggle-slider + .toggle-shape .label-private {
    color: black;
}

.toggle-slider:checked + .toggle-shape .label-private {
    color: white;
}

.toggle-shape:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 50%; /* Full width when checked */
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 34px;
}

.toggle-slider:checked + .toggle-shape:before {
    transform: translateX(52px); /* Adjust as needed */
}

.bottom-right-button {
    /* Position the button 2rem from the bottom and 2rem from the right */
    bottom: 15%;
    right: 20%;
}

.status-text {
    margin: 0 0 15px 30px;
    display: inline-block;
    /* Ensures the container only takes the necessary space */
    padding: 4px 8px;
    /* Adjust padding as needed */
    background-color: blue;
    /* Set the background color to blue */
    color: white;
    /* Set text color to white */
    border-radius: 4px;
    /* Adds rounded corners to the box */
}

.public-other {
    margin: 0 0 15px 30px;
    display: inline-block;
    /* Ensures the container only takes the necessary space */
    padding: 4px 8px;
    /* Adjust padding as needed */
    background-color: blue;
    /* Set the background color to blue */
    color: white;
    /* Set text color to white */
    border-radius: 4px;
    /* Adds rounded corners to the box */
}
/* Specific button positioning */
.margin-createbutton {
    margin: 10px 0 20px 30px;
}

.margin-rename {
    margin-right: 30px;
}

.margin-additem {
    margin-left: 60px;
}

h1 {
    margin: 10px 0 20px 20px;
}

p {
    margin-left: 0;
}

p.card-text {
    margin-left: 30px;
}

.card-title {
    margin-left: 30px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-right: 30%;
    margin-left: 12px;
}

.button-container form {
    margin-bottom: 5px;
}
/* Colour for favicon pen symbol */
.pen-icon {
    color: yellow;
}

.username-postion {
    margin-top: 500px;
}

.navbar {
    background-image: none;
    /* Remove background image for navbar */
    background-color: green;
    /* Optional: Set a background color for the navbar */

}

.homepage-buttons-container {
    margin-left: 150px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: white;
}

.nav-item {
    color: white;
}

.home-colour {
    color: white;
}
/* To balance background colour and image */
.transparent-navbar {
    background-color: rgba(255, 255, 255, 0.2);
    padding-top: 130px; /* More transparent */
}

.white-background {
    background-color: rgba(255, 255, 255, 0.2);
}    

li.nav-item a.nav-link {
    /* Your default styles here */
    color: blue;
    /* Change this to your default text color */
    text-decoration: none;
    /* Remove default underline */
}

li.nav-item a.nav-link.active {
    /* Your active styles here */
    text-decoration: underline;
    /* Add underline for active link */
}

.margin-signup {
    margin: 20px 0 20px 20px;
    padding-top: 20px;
}
/* Label specific custom positioning */
label[for="id_password1"] {
    margin-left: 20px;
    padding-right: 65px;
}

label[for="id_password2"] {
    margin-left: 20px;
    padding-right: 5px;
}

label[for="id_password"] {
    margin-right: 35px;
}

label[for="id_login"] {
    margin-right: 30px;
}

label[for="id_username"] {
    margin-left: 20px;
    padding-right: 60px;
}

label[for="id_email"] {
    margin-left: 20px;
    padding-right: 20px;
}

label[for="id_name"] {
    margin-left: 20px;
}

/* Button specific positioning */
#cloneButton {
    margin: 5px 0 20px 20px;
    padding-right: 20px;
}

#duplicateButton {
    margin: 5px 0 20px 20px;
    padding-right: 20px;
}

#renameButton {
    margin: 5px 0 20px 20px;
    padding-right: 20px;
}

#renameItem {
    padding-left: 10px;
    margin-bottom: 20px;

}

#new_name {
    margin-left: 35px;
    margin-right: 35px
}

.signup-text {
    margin: 0 20px 30px 20px;
}

.title-list {
    font-size: large;
}

.btn-list {
    margin-left: 100px;
}

.btn-warning:hover {
    background-color: #212529;
    /* Change to your desired color */
    border-color: #212529;
    /* Change to your desired color */
    color: #fff;
    /* Change to your desired text color */
}

.margin-signin {
    margin-top: 20px;
}

.quantity-container {
    width: 30px;
    /* Adjust the width and height as needed */
    height: 30px;
    background-color: blue;
    /* Adjust the background color as needed */
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.quantity {
    color: #fff;
    /* Adjust the text color as needed */
}

.list-title {
    font-size: 20px;
    padding-top: 20px;
    font-weight: bold;
}

#back-to-top-btn {
    /* Other styles for the button */
    position: fixed;
    bottom: -80px;
    /* Start the button off-screen */
    margin-bottom: 20px;
    right: 100px;
    z-index: 9999;
    background-color: blue;
    /* Example background color */
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    transition: bottom 0.3s ease;
}

#back-to-top-btn:hover {
    background-color: black;
    /* Example background color on hover */
}


#createListForm {
    max-width: 370px;
    margin: 0 auto;
    background-color: #b2dcaf;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#createListForm button.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    width: 190px; /* Adjust button width */
    margin-left:70px; /* Center button horizontally */
}

#createListForm button.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.landingpage-button-container {
    display: flex;
    justify-content: center;
}

.step1-create {
    background-image: url('../images/step1_create.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 200px;
}

.step2-signup {
    background-image: url('../images/step2_create_user.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 200px;
}

.step2b-signup {
    background-image: url('../images/step2b_create_user.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 200px;
}

.step3-add-list {
    background-image: url('../images/step3_add_list.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 200px;
}

.step4-create-list {
    background-image: url('../images/step4_reg_list.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 200px;
}

.step5-add-item {
    background-image: url('../images/step5_add_item.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 200px;
}

.step6-view-item {
    background-image: url('../images/step6_view_item.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 200px;
}

.step7-show-list {
    background-image: url('../images/step7_return_list_view.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 200px;
}

.step8-view-item-list {
    background-image: url('../images/step8_view_list.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 300px;
}

.step9-done-status {
    background-image: url('../images/step10_item_done.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 200px;
}

.private-share {
    background-image: url('../images/step11_private_list.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 200px;
}

.public-share {
    background-image: url('../images/step11_public_list.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 200px;
}


/* For medium size screens */
@media only screen and (max-width: 992px) {
    .edit-button {
        display: none;
        /* Hide edit button on small screens */
    }

    .mobile-edit-button {
        display: block;
        /* Show mobile edit button on small screens */
    }

    .options {
        display: none;
        /* Hide options menu by default */
    }

    .navbar-toggler {
        background-color: #E84610;
        /* Change background color */
        color: black;
        /* Change text color */
        border: black;
        /* Remove border */
        margin-bottom: 20px;
    }
    .custom-toggler {
        background-color: #E84610;
    }

    .add-list-btn {
        margin-left: -135px;
    }
    
    .landingpage-button-container {
            margin-left: 120px;
        }
    }

/* For medium small screen align all items to the left */
@media only screen and (max-width: 532px) {
    #renameButton {
        margin: 5px 0 20px 0px;
        padding-right: 20px;
    }
}

/* For smallest screen align all items to the left */
@media only screen and (max-width: 392px) {
    #new_name {
        margin-left: 0px;
        margin-right: 35px
    }
}

